body {
    font-family: 'Verdana', sans-serif;
    background-color: rgb(73, 73, 73);
    color: #f2f2f2;
    text-align: left;
  }
  .top h1,.top h2, .top a {
    display: inline;
    vertical-align: top;
    font-family: 'Verdana', sans-serif;
    line-height: 30px;
  }
.top h1 {
  font-size: 40px;
  margin-right: 1%;
}
.top h2 {
  font-size: 12px;
  margin-right: 14%;
}
.top a {
  text-align: right;
  border: 2px solid white;
  margin-left: 1%;
}
.top a {
  float: center;
  color: #f2f2f2;
  padding: 10px;
  text-decoration: none;
  font-size: 15px;
}
.top a:hover {
  background-color: #f2f2f2;
  color: black;
}
div {
  width:auto;
  padding: 10px;
  margin: 10px;
}
.about {
  margin-top: 50px;
  float:left;
  margin-right:20%;
}
.about h2 {
  font-size: 20px;
  margin-top: 50px;
}
.equipment {
    margin-top: 20px;
    float:left;
}
.equipment h2 {
    font-size:20px;
}
.equipment p {
    margin-left: 5%;
}
.equipment li {
    margin-left: 12%;
    padding: 5px;
}
.img {
float: right;
margin-left: 50px;
}
.img {
  width:20%;
  height:20%;
  object-fit:cover;
  margin-right:10%;
}
.note p {
  font-weight: bold;
  font-size: 20px;
}


